main {
    padding: 10px 15px;
    width: 60%;
    align-items: center;
    margin: 4% auto;
    border: 2px solid #A626D3;
    border-radius: 5%;
}

.form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    padding: 5px 0;
}

.form-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    color: #A626D3;
    font-weight: bold;
    margin: 2% 0;
}

.label-span{
    padding: 4px 0;
}

.form-input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #A626D3;
    text-indent: 10px;
    border-radius: 5px;
    padding: 8px 8px;
    color: #A626D3;
}

.form-button {
    grid-column: 1 / -1;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 5% 0;
    padding:3% 3%;
}
.button-span{
    padding: 2px 8px;
    margin-top: -13px;
    margin-left: -7%;
    position: absolute;
}

.meme{
    margin-top: 10%;
    box-sizing: content-box;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 15px 45px -25px #A626D3;
    background-size: contain;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    gap: 60%;
}

.meme-top-text{
    margin-bottom: 0%;
    color: #A626D3;
    font-weight: 800;
    font-size: 25px;
}
.meme-bottom-text{
    margin-top: 0%;
    color: #A626D3;
    font-weight: 800;
    font-size: 25px;
}