main {
    padding: 36px;
}

.form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    padding: 5px 0;
}

.form-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
}

.label-span{
    padding: 4px 0;
}

.form-input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #A626D3;
    text-indent: 10px;
    border-radius: 5px;
    padding: 4px 4px;
}

.form-button {
    grid-column: 1 / -1;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 2% 0;
    padding: 2% 0;
    align-items: center;
}
.button-span{
    padding: 2px 8px;
    margin-top: 4px;
}

.meme-image{
    max-width: 100%;
}