main {
    padding: 10px 15px;
    width: 60%;
    align-items: center;
    margin: 4% auto;
    box-shadow: 0 15px 45px -25px #A626D3;
}

.form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
    padding: 5px 0;
}

.form-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    color: #A626D3;
    font-weight: bold;
    margin: 2% 0;
}

.label-span{
    padding: 4px 0;
}

.form-input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #A626D3;
    text-indent: 10px;
    border-radius: 5px;
    padding: 8px 8px;
    color: #A626D3;
}

.form-button {
    grid-column: 1 / -1;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 5% 0;
    padding:3% 3%;
}
.button-span{
    padding: 2px 8px;
    margin-top: -13px;
    margin-left: -7%;
    position: absolute;
}

.meme{
    border: 2px solid #A626D3;
    margin-top: 10%;
    box-sizing: content-box;
    border-radius: 10px;
    text-align: center;
    /* overflow-x: hidden; */
}

.meme img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* border: 2px solid red; */
    /* https://v2.scrimba.com/learn-react-c0e/~032 */
}

.meme-top-text{
    margin-bottom: -2.5%;
    position: relative;
    color: #A626D3;
    font-weight: bold;
    font-size: 25px;
}
.meme-bottom-text{
    margin-top: -2.5%;
    color: #A626D3;
    font-weight: bold;
    font-size: 25px;
}